@{
    ViewData["Title"] = "Home Page";
}

<header class="masthead text-center text-white bg-dark" style="height: 700px;">
    <div class="masthead-content">
        <img src="~/adminFront/img/a.png" width="80%" />        
    </div>           
</header>
<section style="background-color : #d9d7d7">
 <div class="container">
     <div class="row align-items-center">
         <div class="col-lg-6 order-lg-2">
             <div class="p-5">
                 <img class="img-fluid" src="~/adminFront/img/sales.png" alt="">
             </div>
         </div>
         <div class="col-lg-6 order-lg-1">
             <div class="p-5">
                 <h2 class="display-4">Gérer les ventes</h2>
                 <p>Gérez facilement la création de nouvelles ventes simplement en recherchant parmi les produits sélectionnés et la quantité</p>
             </div>
         </div>
     </div>
 </div>
 </section>

<section>
 <div class="container">
     <div class="row align-items-center">
         <div class="col-lg-6">
             <div class="p-5">
                 <img class="img-fluid" src="~/adminFront/img/c.png" alt="">
             </div>
         </div>
         <div class="col-lg-6">
             <div class="p-5">
                 <h2 class="display-4">Rapport des Ventes </h2>
                 <p>Générer un rapport de vente agréable et propre, actuellement 2 rapports de vente sont disponibles page A4 et petites pages</p>
             </div>
         </div>
     </div>
 </div>
 </section>
<section style="background-color : #d9d7d7">
 <div class="container">
     <div class="row align-items-center">
         <div class="col-lg-6 order-lg-2">
             <div class="p-5">
                 <img class="img-fluid " src="~/adminFront/img/b.png" alt="">
             </div>
         </div>
         <div class="col-lg-6 order-lg-1">
             <div class="p-5">
                 <h2 class="display-4"> Installation et configuration faciles</h2>
                 <p>Pour les petites entreprises, il peut être facilement configurable pour configurer la société, les produits. il peut ensuite gérer les factures des clients et des ventes et suivre les ventes et imprimer les factures des clients </p>
             </div>
         </div>
     </div>
 </div>
</section>